# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Hide locations with temp/executable files
.vs/*
2dto3d/Debug/*
Debug/*
Release/*
2dto3d/Release/*

# Guide files (where to install libraries):
2dto3d/src/offsite/*
!2dto3d/src/offsite/Place-GLM-folder-and-CImg-header-here

dependencies32/GLEW/*
!dependencies32/GLEW/Place-GLEW-lib-and-include-folders-here

dependencies32/GLFW/*
dependencies32/GLFW/Place-GLFW-lib-and-include-folders-here

dependencies64/*
dependencies64/TODO

!2dto3d/src/offsite/Place-GLM-folder-and-CImg-header-here
